<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TubeFox</title>
</head>
<body>
    <h1>TubeFox</h1>
    <form method="POST" action="">
        <label for="yt_link">Paste YouTube video link:</label>
        <br>
        <input type="text" id="yt_link" name="yt_link" required>
        <br>
        <input type="submit" value="Download">
        {% csrf_token %}
    </form>
    <p>{{ title }}</p>
    <p>{{ description }}</p>
    <p>{{ keywords }}</p>
{#    <a href="{{ download_video }}">Download video</a>#}
{#    <a href="{{ download_thumbnail }}">Download thumbnail</a>#}
{#    <a href="{{ download_audio }}">Download audio</a>#}
    {% if request.method == "POST" %}
        <a href="{{ download_video }}">Download video</a>
        <a href="{{ download_thumbnail }}">Download thumbnail</a>
        <a href="{{ download_audio }}">Download audio</a>
    {% endif %}


</body>
</html>