<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container-flex">
        <header class="d-flex justify-content-center py-3 ">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/bootstrap" class="nav-link" aria-current="page">Download video</a></li>
            <li class="nav-item"><a href="/thumbnail" class="nav-link active">Download thumbnail</a></li>
            <li class="nav-item"><a href="/metadata" class="nav-link">Download metadata</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Download subtitles</a></li>
          </ul>
        </header>
    </div>

    <div class="ads" align="center" style="background: aqua">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1234567890123456" crossorigin="anonymous"></script>
        <!-- Homepage Leaderboard -->
        <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-1234567890123456"
        data-ad-slot="1234567890"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="form" align="center" style="height: 120px; background: aliceblue">
        <form method="POST" action="">
        <label for="yt_link">Paste YouTube video link:</label>
        <br>
            <style>
                .form-control {
                    width: 400px; /* Призначити ширину відповідно до вмісту */
                    display: inline-block; /* Розмістити елементи в одному ряду */
                    vertical-align: top; /* Вирівняти елементи вертикально */
                }
                .form label {
                    display: block; /* Розмістити мітки на окремих рядках */
                    text-align: center; /* Вирівняти текст міток по правому краю */
                    margin-right: 10px; /* Додати відступ між міткою і вводом */
                    margin-top: 20px; /* Додати відступ між міткою і вводом */
                }
            </style>
        <input class="form-control" type="text" id="yt_link" name="yt_link" required>
        <input class="btn btn-primary" type="submit" value="Download">
        {% csrf_token %}
        </form>
    </div>



    {% if request.method == "POST" %}
        <div class="container-flex" style="background: aliceblue">
        <div class="col-8 mx-auto" style="margin-bottom: 40px">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{download_thumbnail}}" class="d-block w-100" alt="Youtube video thumbnail">
                </div>
              </div>
            </div>
        </div>
        </div>

    {% endif %}


    <div class="container">
        <div class="row" style="text-align: center">
            <h3>How to Download YouTube Video Thumbnail</h3>
                <div class="col-4" style="text-align: left">
                    <div class="row">
                        <div class="col-3" style="margin-top: 7px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="green" class="bi bi-1-square-fill" viewBox="0 0 16 16">
                              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383z"></path>
                            </svg>
                        </div>
                        <div class="col-9">
                            <p>Simply enter your desired YouTube link or type in relevant keywords in the search box, then hit "Download"</p>
                        </div>
                    </div>
                </div>
            <div class="col-4" style="text-align: left">
                    <div class="row">
                        <div class="col-3" style="margin-top: 7px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="blue" class="bi bi-2-square-fill" viewBox="0 0 16 16">
                              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306"></path>
                            </svg>
                        </div>
                        <div class="col-9">
                            <p>Choose your preferred output format (MP4 or MP3) and initiate the transfer process by clicking the "Download" button.</p>
                        </div>
                    </div>
                </div>
            <div class="col-4" style="text-align: left">
                    <div class="row">
                        <div class="col-3" style="margin-top: 7px">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="orange" class="bi bi-3-square-fill" viewBox="0 0 16 16">
                              <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318"></path>
                            </svg>
                        </div>
                        <div class="col-9">
                            <p>Wait briefly for the conversion to finish and download your file. It's that straightforward and user-friendly.</p>
                        </div>
                    </div>
                </div>
        </div>

    </div>

    <div class="container-flex" style="background: aliceblue">
        <div class="row" style="text-align: center">
            <h3>Why TubeFox the best YouTube Video downloader?</h3>
        </div>
        <div class="row" style="text-align: center">
            <p>Discover why TubeFox is the ultimate solution for downloading YouTube videos. Our versatile service allows you to download videos in 720p quality with audio or in maximum quality without sound in MP4 format. Need just the audio? Easily download MP3 files. TubeFox also lets you download video thumbnails, subtitles in both TXT and SRT formats, and copy all video metadata including titles, descriptions, and tags. Experience seamless, high-quality downloads with TubeFox—the best YouTube video downloader on the market.</p>
        </div>
    </div>

</body>
</html>